{
    "rules": {
        "indent": [
            0,
            "tab"
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": "off",
        "no-undef": "off"
    },
    "env": {
        "es6": true,
        "node": true,
        "jquery": true
    },
    "extends": "eslint:recommended"
}
